<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1
# *Data Wrangling and Munging with Pandas*

In this lab we work through reading in files of a range of formats, then manipulating a dataset to handle missing values and performing data profiling.

## Part 1: Wrangling Data

The term "data wrangling" is analogous to capturing wild horses and getting them into a fenced area; the horses are data and the fencing is your computer. The more common data wrangling tasks include:

- reading flat files
- reading Excel files
- downloading from web pages
  - csv
  - html
  - json

In [2]:
import numpy as np
import pandas as pd

*It is good practice to display the library version numbers for future reference:*

In [3]:
print('Numpy: ', np.__version__)
print('Pandas: ', pd.__version__)

Numpy:  1.26.4
Pandas:  2.2.2

### CSV Files

Below are three attempts to load the file "bikeshare.csv" into a DataFrame named `bikes`. Why are they wrong?

In [4]:
# wrong:
bikes = pd.read_csv('bikeshare.csv', header = None)
print(bikes.head())
print()

# wrong:
bikes = pd.read_csv('bikeshare.csv', header = 1)
print(bikes.head())
print()

# wrong:
bikes = pd.read_csv('bikeshare.csv', header = 0)
print(bikes.head())

        0           1       2   3     4   5        6        7           8   \
0  instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday
1        1  2011-01-01       1   0     1   0        0        6           0
2        2  2011-01-01       1   0     1   1        0        6           0
3        3  2011-01-01       1   0     1   2        0        6           0
4        4  2011-01-01       1   0     1   3        0        6           0

           9     10      11    12         13      14          15   16
0  weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
1           1  0.24  0.2879  0.81          0       3          13   16
2           1  0.22  0.2727   0.8          0       8          32   40
3           1  0.22  0.2727   0.8          0       5          27   32
4           1  0.24  0.2879  0.75          0       3          10   13

   1  2011-01-01  1.1  0  1.2  0.1  0.2  6  0.3  1.3  0.24  0.2879  0.81  \
0  2  2011-01-01    1  0    1    1    0  6    0    1  0.22  0.2727  0.80
1  3  2011-01-01    1  0    1    2    0  6    0    1  0.22  0.2727  0.80
2  4  2011-01-01    1  0    1    3    0  6    0    1  0.24  0.2879  0.75
3  5  2011-01-01    1  0    1    4    0  6    0    1  0.24  0.2879  0.75
4  6  2011-01-01    1  0    1    5    0  6    0    2  0.24  0.2576  0.75

      0.4  3  13  16
0  0.0000  8  32  40
1  0.0000  5  27  32
2  0.0000  3  10  13
3  0.0000  0   1   1
4  0.0896  0   1   1

   instant      dteday  season  yr  mnth  hr  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1   0        0        6           0
1        2  2011-01-01       1   0     1   1        0        6           0
2        3  2011-01-01       1   0     1   2        0        6           0
3        4  2011-01-01       1   0     1   3        0        6           0
4        5  2011-01-01       1   0     1   4        0        6           0

   weathersit  temp   atemp   hum  windspeed  casual  registered  cnt
0           1  0.24  0.2879  0.81        0.0       3          13   16
1           1  0.22  0.2727  0.80        0.0       8          32   40
2           1  0.22  0.2727  0.80        0.0       5          27   32
3           1  0.24  0.2879  0.75        0.0       3          10   13
4           1  0.24  0.2879  0.75        0.0       0           1    1

ANSWER:

Load the file "bikeshare.csv" into a DataFrame named `bikes`, and confirm that it was loaded properly:

In [16]:
#ANSWER:
bikes = pd.read_csv('bikeshare.csv')
print(bikes)

       instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
...           ...  ...
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]

Note that we could have used `read.csv()` above. `read_table()` is necessary when `sep` is not the comma character, or we need fine control that `read.csv()` does not provide.

Flat files can be full of surprises. Here are some issues to watch out for:

- separator character is something other than the comma
  - ";", "|", and tab are popular
- newline character is something other than what the O/S expects
  - Tip: Don't hard-code the character codes for carriage returns, linefeeds, etc. Use Python's built-in representation instead (e.g. Python translates "\n" to the newline character and "\t" to the tab character on any O/S).
- truncated lines
  - if there are empty fields at the end of a line it is possible that their separators will be missing, resulting in a "jagged" file
- embedded commas or quotes
  - a free-text field containing embedded commas may split into separate fields on input
  - a free-text field containing embedded quotes may not parse correctly
- unescaped characters
  - the "\" character indicates a control code to Python, which will break the I/O
    - e.g. the substring "\u0123" will be interpreted as Unicode(0123) -- which may not be what the file creator intended
  - these may need to be fixed by loading whole strings and then parsing into a new data frame
  
Tip: Most issues can be dealt with by correctly specifying the parameters of the function you use to load the file. Read the doco before reading the data!

### Reading Excel Files

In [8]:
!pip install xlrd==2.0.1

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd==2.0.1
  Using cached xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [5]:
from pandas import ExcelFile  # Nb. Need to install xlrd from conda (it does not automatically install with pandas)

In [6]:
df = pd.read_excel('Iris.xls', sheet_name = 'Data')
df

,Species_No,Petal_width,Petal_length,Sepal_width,Sepal_length,Species_name
0,1,0.2,1.4,3.5,5.1,Setosa
1,1,0.2,1.4,3.0,4.9,Setosa
2,1,0.2,1.3,3.2,4.7,Setosa
3,1,0.2,1.5,3.1,4.6,Setosa
4,1,0.2,1.4,3.6,5.0,Setosa
...,...,...,...,...,...,...
145,3,2.3,5.2,3.0,6.7,Verginica
146,3,1.9,5.0,2.5,6.3,Verginica
147,3,2.0,5.2,3.0,6.5,Verginica
148,3,2.3,5.4,3.4,6.2,Verginica
149,3,1.8,5.1,3.0,5.9,Verginica

It is usually better to load data correctly than to meddle with the source file or load it 'warts and all' and then try to parse it in code. The Pandas functions for reading files have parameters that provide the control we need. For example, we could make multiple calls to `read_excel()`, using combinations of the `header`, `usecols`, `skiprows`, `nrows`, and `skipfooter` parameters to load one table at a time from a spreadsheet with multiple tables.

Load the above file without the unwanted columns:

In [ ]:
#ANSWER

### Importing Data Directly from the Web

We usually want to store a local copy of a data file that we download from the Web, but when data retention is not a priority it is convenient to download the data directly into our running Python environment.

#### Importing Text Files from the Web

The web is the 'wild west' of data formats. However, we can usually expect good behaviour from files that are automatically generated by a service, such as the earthquake report:

In [8]:
df = pd.read_csv('https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_hour.csv')
df.head()

Empty DataFrame
Columns: [time, latitude, longitude, depth, mag, magType, nst, gap, dmin, rms, net, id, updated, place, type, horizontalError, depthError, magError, magNst, status, locationSource, magSource]
Index: []

[0 rows x 22 columns]

#### Importing HTML Files from the Web

Working with unstructured HTML files relies heavily on library functions. This one, however, is well-structured:

In [9]:
url = 'https://www.ccra.com/airport-codes/'

df = pd.read_html(url)
df

[                City      Country Code
 0            Aalborg      Denmark  AAL
 1           Aalesund       Norway  AES
 2             Aarhus      Denmark  AAR
 3     Abbotsford, BC       Canada  YXX
 4           Aberdeen     Scotland  ABZ
 ...              ...          ...  ...
 1573        Zanzibar     Tanzania  ZNZ
 1574        Zaragoza        Spain  ZAZ
 1575       Zhengzhou        China  CGO
 1576        Zhoushan        China  HSN
 1577          Zurich  Switzerland  ZRH

 [1578 rows x 3 columns]]

In [12]:
df[0]

                City      Country Code
0            Aalborg      Denmark  AAL
1           Aalesund       Norway  AES
2             Aarhus      Denmark  AAR
3     Abbotsford, BC       Canada  YXX
4           Aberdeen     Scotland  ABZ
...              ...          ...  ...
1573        Zanzibar     Tanzania  ZNZ
1574        Zaragoza        Spain  ZAZ
1575       Zhengzhou        China  CGO
1576        Zhoushan        China  HSN
1577          Zurich  Switzerland  ZRH

[1578 rows x 3 columns]

#### Importing XML Files from the Web

XML files are semi-structured, but you're at the mercy of the file creator. If every record has the same format it will be much easier, but practical applications often require a lot of custom code. Here are a few examples: https://pandas.pydata.org/docs/user_guide/io.html#io-read-xml

#### Importing JSON Files from the Web

Like XML, JSON files are semi-structured and may require work to capture the schema into a dataframe. Here is a simple example:

In [13]:
url = 'https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient = 'columns')
df.head()

,name,language,id,bio,version
0,Adeel Solangi,Sindhi,V59OF92YF627HFY0,Donec lobortis eleifend condimentum. Cras dict...,6.10
1,Afzal Ghaffar,Sindhi,ENTOCR13RSCLZ6KU,"Aliquam sollicitudin ante ligula, eget malesua...",1.88
2,Aamir Solangi,Sindhi,IAKPO3R4761JDRVG,Vestibulum pharetra libero et velit gravida eu...,7.27
3,Abla Dilmurat,Uyghur,5ZVOEPMJUI4MB4EN,Donec lobortis eleifend condimentum. Morbi ac ...,2.53
4,Adil Eli,Uyghur,6VTI8X6LL0MMPJCC,"Vivamus id faucibus velit, id posuere leo. Mor...",6.49

## Part 2: Data Munging

Data munging is manipulating data to get it into a form that we can start running analyses on (which usually means getting the data into a DataFrame). Before we get to this stage, we may need to remove headers or footers, transpose columns to rows, split wide data tables into long ones, and so on. (Nb. Excel files can be particularly troublesome, because users can format their data in mixed, complex shapes.) Essentially, we need to follow Hadley Wickham's guidelines for tidy datasets (http://vita.had.co.nz/papers/tidy-data.html):

The end goal of the cleaning data process:

- each variable should be in one column
- each observation should comprise one row
- each type of observational unit should form one table
- include key columns for linking multiple tables
- the top row contains (sensible) variable names
- in general, save data as one file per table

### Dataset Morphology

Once we have our dataset in a DataFrame (or Series, if our data is only 1-dimensional), we can start examining its size and content.

How many rows and columns are in `bikes`?

In [18]:
#ANSWER
bikes.shape

(17379, 17)

What are the column names in `bikes`?

In [19]:
#ANSWER
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

What are the data types of these columns?

In [20]:
#ANSWER
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

What is the (row) index for this DataFrame?

In [22]:
#ANSWER
print(bikes.index)

RangeIndex(start=0, stop=17379, step=1)

https://www.dataquest.io/blog/python-json-tutorial/

### Slicing

Slicing refers to extracting part of a Python object such as a list or dataframe.

It is often preferable to refer to DataFrame columns by name, but there is more than one way to do this.
Do `bikes['season']` and `bikes[['season']]` give the same object? Demonstrate:

In [25]:
#ANSWER
season_series = bikes['season']
print("Single bracket - Type:", type(season_series))  # Should show Series
print(season_series)
# Using double brackets
season_df = bikes[['season']]
print("Double bracket - Type:", type(season_df))  # Should show DataFrame
print(season_df)

Single bracket - Type: <class 'pandas.core.series.Series'>
0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64
Double bracket - Type: <class 'pandas.core.frame.DataFrame'>
       season
0           1
1           1
2           1
3           1
4           1
...       ...
17374       1
17375       1
17376       1
17377       1
17378       1

[17379 rows x 1 columns]

How would we use object notation to show the first 4 rows of `atemp`?

In [28]:
#ANSWER
bikes.atemp.head(4)

0    0.2879
1    0.2727
2    0.2727
3    0.2879
Name: atemp, dtype: float64

Algorithms that loop over multiple columns often access DataFrame columns by index. However, none of the following work (try them out by uncommenting / removing the "#E: " ):

In [42]:
#bikes[[0]]
#bikes[0]
#bikes[0,0]
#bikes[[0,0]]
bikes.iloc[0,3]

0

What is the correct way to access the 1st row of the DataFrame by its index?

In [44]:
#ANSWER
bikes.iloc[0]

instant                1
dteday        2011-01-01
season                 1
yr                     0
mnth                   1
hr                     0
holiday                0
weekday                6
workingday             0
weathersit             1
temp                0.24
atemp             0.2879
hum                 0.81
windspeed            0.0
casual                 3
registered            13
cnt                   16
Name: 0, dtype: object

What is the correct way to access the 2nd column of the DataFrame by its index?

In [48]:
#ANSWER
bikes.iloc[:, 2]

0        1
1        1
2        1
3        1
4        1
        ..
17374    1
17375    1
17376    1
17377    1
17378    1
Name: season, Length: 17379, dtype: int64

### Handling Missing Values

What is the Pandas `isnull` function for?

?
ANSWER:

We can apply `isnull` to the `bikes` DataFrame to show the result for every element:

In [49]:
bikes.isnull().head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

However, we usually start at a higher level. How many nulls are in `bikes` altogether?

In [58]:
#ANSWER
bikes.isnull().sum().sum()

0

If this result were nonzero we would next want to find out which columns contained nulls. How can this be done in one line of code?

In [59]:
#ANSWER
bikes.columns[bikes.isnull().any()]

Index([], dtype='object')

What is the Numpy object `nan` used for? (Write a descriptive answer.)

?
ANSWER: The numpy object nan, which stands for "Not a Number," is a special floating-point value that represents undefined or unrepresentable numerical values.

Write (and verify) a function that performs scalar division with built-in handling of the edge case (i.e. return a value instead of just trapping the error):

In [61]:
#ANSWER
def safe_divide(numerator, denominator):   
    if denominator == 0:
        return float('inf')  # You can also return 'undefined' or a specific message
    else:
        return numerator / denominator

safe_divide(10, 0)

inf

Apply the Pandas `isna` function to the following data objects:

In [64]:
x = 2.3
y = np.nan
print(x, y)

2.3 nan

In [65]:
#ANSWER
pd.isna(y)

True

In [67]:
array = np.array([[1, np.nan, 3], [4, 5, np.nan]])
print(array)

[[1 1 3]
 [4 5 1]]

In [68]:
#ANSWER
array = np.array([[1, pd.isna(np.nan), 3], [4, 5, pd.isna(np.nan)]])
print(array)

[[1 1 3]
 [4 5 1]]

How is the pandas I/O parameter `na_values` used?

? ANSWER: 
The na_values parameter in the pandas I/O functions is used to specify additional strings or values that should be considered as NaN (Not a Number) when reading data into a DataFrame.

### Data Profiling

#### Counts

When there are categorical variables in a dataset we will want to know how many possible values there are in each column. (Nb. If the dataset is a sample of a larger one, our sample may not capture all possible values of every categorical.)

How many (different) seasons are in `bikes`?

In [79]:
#ANSWER
unique_seasons = bikes['season'].unique()
num_seasons = len(unique_seasons)

# Print the number of different seasons
print("Different seasons in bikes:", num_seasons)
print("Unique seasons:", unique_seasons)

Different seasons in bikes: 4
Unique seasons: [1 2 3 4]

In [78]:
season_counts = bikes['season'].value_counts()
print(season_counts)

season
3    4496
2    4409
1    4242
4    4232
Name: count, dtype: int64

#### Ranges

Print the range of the `instant`, `dteday`, and `windspeed` columns:

In [80]:
#ANSWER
instant_range = (bikes['instant'].min(), bikes['instant'].max())
dteday_range = (bikes['dteday'].min(), bikes['dteday'].max())
windspeed_range = (bikes['windspeed'].min(), bikes['windspeed'].max())

# Print the ranges
print("Range of 'instant' column:", instant_range)
print("Range of 'dteday' column:", dteday_range)
print("Range of 'windspeed' column:", windspeed_range)

Range of 'instant' column: (1, 17379)
Range of 'dteday' column: ('2011-01-01', '2012-12-31')
Range of 'windspeed' column: (0.0, 0.8507)

Compute and print the overall minimum and maximum of the numeric data columns:

In [93]:
#bikes_min, bikes_max = (bikes.min().min()), (bikes.max().max())
#print(bikes_min)
numbercolumn = bikes.select_dtypes(include='number')
bikes_min = numbercolumn.min().min()  # Overall minimum
bikes_max = numbercolumn.max().max() # Overall maximum

# Print the results
print("Overall minimum of numeric data columns:", bikes_min)
print("Overall maximum of numeric data columns:", bikes_max)

Overall minimum of numeric data columns: 0.0
Overall maximum of numeric data columns: 17379.0

#### Quantiles

Pandas makes computing quantiles easy. This is how to get the median of a Series:

In [94]:
bikes['atemp'].quantile(0.5)

0.4848

Of course, the `quantiles` method can take a tuple as its argument. Compute the 10th, 25th, 50th, 75th, and 90th percentiles in one line of code:

In [96]:
#ANSWER
percentiles = numbercolumn.quantile([0.1, 0.25, 0.5, 0.75, 0.9])

# Print the percentiles
print("10th, 25th, 50th, 75th, and 90th percentiles:")
print(percentiles)

10th, 25th, 50th, 75th, and 90th percentiles:
      instant  season   yr  mnth    hr  holiday  weekday  workingday  \
0.10   1738.8     1.0  0.0   2.0   2.0      0.0      0.0         0.0
0.25   4345.5     2.0  0.0   4.0   6.0      0.0      1.0         0.0
0.50   8690.0     3.0  1.0   7.0  12.0      0.0      3.0         1.0
0.75  13034.5     3.0  1.0  10.0  18.0      0.0      5.0         1.0
0.90  15641.2     4.0  1.0  11.0  21.0      0.0      6.0         1.0

      weathersit  temp   atemp   hum  windspeed  casual  registered    cnt
0.10         1.0  0.24  0.2424  0.37     0.0000     1.0         7.0    9.0
0.25         1.0  0.34  0.3333  0.48     0.1045     4.0        34.0   40.0
0.50         1.0  0.50  0.4848  0.63     0.1940    17.0       115.0  142.0
0.75         2.0  0.66  0.6212  0.78     0.2537    48.0       220.0  281.0
0.90         2.0  0.74  0.6970  0.88     0.3582    92.0       354.0  451.2

#### Cuts

Sometimes we want to split the sample not by the quantiles of the distribution but by the range of the data. Let's take a closer look at `atemp`:

In [97]:
type(bikes['atemp'])

pandas.core.series.Series

In [98]:
bikes.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
4141,4142,2011-06-26,3,0,6,11,0,0,0,1,0.72,0.6515,0.45,0.1343,127,219,346
10016,10017,2012-02-27,1,1,2,9,0,1,1,1,0.26,0.2576,0.60,0.1940,11,219,230
8684,8685,2012-01-02,1,1,1,16,1,1,0,1,0.26,0.2273,0.35,0.4179,10,144,154
17308,17309,2012-12-29,1,1,12,1,0,6,0,2,0.24,0.2424,0.75,0.0896,6,31,37
15207,15208,2012-09-30,4,1,9,20,0,0,0,3,0.50,0.4848,0.72,0.1343,31,163,194

Suppose we decide to sort these values into 4 bins of equal width, but we want to apply the resulting groups to the entire DataFrame. Basically, we need to add a row label that indicates which bin each sample belongs in. Let's call this label "atemp_level", and use the `cut` method to populate it:

In [101]:
atemp_level = pd.cut(bikes['atemp'], bins = 6)

What is `atemp_level`?

In [102]:
#ANSWER
print(atemp_level)

0        (0.167, 0.333]
1        (0.167, 0.333]
2        (0.167, 0.333]
3        (0.167, 0.333]
4        (0.167, 0.333]
              ...
17374    (0.167, 0.333]
17375    (0.167, 0.333]
17376    (0.167, 0.333]
17377    (0.167, 0.333]
17378    (0.167, 0.333]
Name: atemp, Length: 17379, dtype: category
Categories (6, interval[float64, right]): [(-0.001, 0.167] < (0.167, 0.333] < (0.333, 0.5] < (0.5, 0.667] < (0.667, 0.833] < (0.833, 1.0]]

Here is a random sample of `atemp_level`:

In [103]:
atemp_level.sample(5)

15725      (0.333, 0.5]
12524      (0.5, 0.667]
1589     (0.167, 0.333]
5373     (0.667, 0.833]
4723     (0.667, 0.833]
Name: atemp, dtype: category
Categories (6, interval[float64, right]): [(-0.001, 0.167] < (0.167, 0.333] < (0.333, 0.5] < (0.5, 0.667] < (0.667, 0.833] < (0.833, 1.0]]

So, by default, `cut` produces labels that indicate the bin boundaries for each element in the series it was applied to. Usually, we will specify labels that are appropriate to the discretisation we are applying:

In [104]:
atemp_level = pd.cut(bikes['atemp'], bins = 4, labels = ["cool", "mild", "warm", "hot"])
atemp_level.sample(5)

5726     warm
6399     warm
1696     mild
13427    warm
10343    mild
Name: atemp, dtype: category
Categories (4, object): ['cool' < 'mild' < 'warm' < 'hot']

Incorporate the new `atemp_level` column into the `bikes` DataFrame and use it to count the number of "mild" `atemp` entries in `season` 2:

In [ ]:
#ANSWER

*Nb. The `atemp_level` variable we created is what the R language calls a "factor". Pandas has introduced a new data type called "category" that is similar to R's factors.*

>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---