<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 2.1.1b
# *Data Cleaning with Pandas*

In this lab we work with a file that has messy column names and a combination of missing and invalid data to be cleaned.

To start with load `rock.csv` into a dataframe.

In [2]:
# ANSWER
import numpy as np
import pandas as pd
rocks = pd.read_csv('rock.csv')
print(rocks.head())
print()

               Song Clean ARTIST CLEAN Release Year  \
0        Caught Up in You  .38 Special         1982
1            Fantasy Girl  .38 Special          NaN
2         Hold On Loosely  .38 Special         1981
3  Rockin' Into the Night  .38 Special         1980
4       Art For Arts Sake         10cc         1975

                                COMBINED  First?  Year?  PlayCount  F*G
0        Caught Up in You by .38 Special       1      1         82   82
1            Fantasy Girl by .38 Special       1      0          3    0
2         Hold On Loosely by .38 Special       1      1         85   85
3  Rockin' Into the Night by .38 Special       1      1         18   18
4              Art For Arts Sake by 10cc       1      1          1    1

### Check Column Names

Check column names and clean by converting all names to lowercase, replacing spaces with underscores (`_`) and removing question marks or asterisk (`*`) characters.

In [4]:
# ANSWER
rocks.columns

rocks.columns = (rocks.columns
                 .str.lower()            # Convert to lowercase
                 .str.replace(' ', '_')  # Replace spaces with underscores
                 .str.replace('?', '')    # Remove question marks
                 .str.replace('*', '')    # Remove asterisks
                )

rocks.columns

Index(['song_clean', 'artist_clean', 'release_year', 'combined', 'first',
       'year', 'playcount', 'fg'],
      dtype='object')

### Replace Null Values With 0

Check 'release_year' column whether this column has any null values or not. Replace null values with 0.

In [11]:
# ANSWER

# Replace null values with 0
rocks['release_year'].fillna(0, inplace=True)

# Verify that null values have been replaced
null_count_after = rocks['release_year'].isnull().sum()
print("Number of null values in 'release_year' after replacement:", null_count_after)

Number of null values in 'release_year' after replacement: 0

## Check Datatypes of Dataset

Check datatypes of the dataset. Is there any column which should be int instead of object? Fix the column.

In [20]:
rocks['release_year'].unique()

array(['1982', 0, '1981', '1980', '1975', '2000', '2002', '1992', '1985',
       '1993', '1976', '1995', '1979', '1984', '1977', '1990', '1986',
       '1974', '2014', '1987', '1973', '2001', '1989', '1997', '1971',
       '1972', '1994', '1970', '1966', '1965', '1983', '1955', '1978',
       '1969', '1999', '1968', '1988', '1962', '2007', '1967', '1958',
       '1071', '1996', '1991', '2005', '2011', '2004', '2012', '2003',
       '1998', '2008', '1964', '2013', '2006', 'SONGFACTS.COM', '1963',
       '1961'], dtype=object)

In [23]:
# ANSWER
#print(rocks)
#print(rocks.info())
rocks['release_year'].replace('SONGFACTS.COM', 0, inplace=True)


if rocks['release_year'].dtype == 'object':
    print("\nConverting 'release_year' from object to int...")
    rocks['release_year'] = rocks['release_year'].astype(int)

print(rocks.dtypes)

song_clean      object
artist_clean    object
release_year     int32
combined        object
first            int64
year             int64
playcount        int64
fg               int64
dtype: object

C:\Users\User\AppData\Local\Temp\ipykernel_19312\2463294811.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  rocks['release_year'].replace('SONGFACTS.COM', 0, inplace=True)

## Check Min, Max of Each Column

Is there any illogical value in any column? How can we fix that?

In [24]:
# ANSWER
numbercolumn = rocks.select_dtypes(include='number')
rocks_min = numbercolumn.min().min()  # Overall minimum
rocks_max = numbercolumn.max().max() # Overall maximum

# Print the results
print("Overall minimum of numeric data columns:", rocks_min)
print("Overall maximum of numeric data columns:", rocks_max)

Overall minimum of numeric data columns: 0
Overall maximum of numeric data columns: 2014

## Write Some Functions

### Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970

In [37]:
# ANSWER
def print_song_info(row):
    song = row.get('song_clean')  # Replace with the actual column name for the song title
    artist = row.get('artist_clean')  # Replace with the actual column name for the artist name
    release_year = row.get('release_year')
    
    # Check if release_year is less than 1970
    is_before_1970 = release_year < 1970 if pd.notna(release_year) else None
    
    # Print the details
    if is_before_1970:
        print(f"Good News, The Song: {song}, Artist: {artist}, Released before 1970: {release_year}")
    else:
        print(f"Sorry, The Song: {song}, Artist: {artist}, Released after {release_year}")


sample_row = rocks.iloc[11]  # Get the first row
print_song_info(sample_row)

Sorry, The Song: Back In Black, Artist: AC/DC, Released after 1980

### Write a function that converts a column in a DataFrame to a numeric type and otherwise replaces entries with np.nan

In [39]:
# ANSWER
def convert_column_to_numeric(df, column_name):
    # Convert the column to numeric, coercing errors to NaN
    df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
    return df

0    1982
1       0
2    1981
3    1980
4    1975
Name: release_year, dtype: int32

### Apply this last function to your dataset

In [40]:
# ANSWER
rocks =  convert_column_to_numeric(rocks, 'release_year')
print(rocks['release_year'].head())

0    1982
1       0
2    1981
3    1980
4    1975
Name: release_year, dtype: int32

### 'Describe' the new DataFrame

In [41]:
# ANSWER
rocks.describe()

       release_year   first         year    playcount           fg
count   2230.000000  2230.0  2230.000000  2230.000000  2230.000000
mean    1465.331390     1.0     0.741256    16.872646    15.048430
std      867.196161     0.0     0.438043    25.302972    25.288366
min        0.000000     1.0     0.000000     0.000000     0.000000
25%        0.000000     1.0     0.000000     1.000000     0.000000
50%     1973.000000     1.0     1.000000     4.000000     3.000000
75%     1981.000000     1.0     1.000000    21.000000    18.000000
max     2014.000000     1.0     1.000000   142.000000   142.000000

>



---



---



> > > > > > > > > Â© 2024 Institute of Data


---



---